<template>
    <table aria-multiselectable="true" class="slds-table slds-no-cell-focus slds-table_bordered slds-table_edit slds-table_fixed-layout slds-table_resizable-cols" role="grid">
        <thead>
            <template for:each={headers} for:item="head">
                <th aria-label={head.title} aria-sort="none" class="slds-is-resizable" scope="col" key={head.id}>
                    <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                        <span class="slds-truncate" title={head.title}>{head.title}</span>
                    </div>
                    <div class="slds-resizable">
                        <input type="range" aria-label="Name column width" class="slds-resizable__input slds-assistive-text" id={head.id} max="1000" min="20" tabindex="-1" />
                        <span class="slds-resizable__handle">
                            <span class="slds-resizable__divider"></span>
                        </span>
                    </div>
                </th>
            </template>
        </thead>
        <tbody>
            <template for:each={rows} for:item="r">
                <tr key={r.id}>
                    <template for:each={r.fields} for:item="field">
                        <td key={field.id} class="slds-cell" role="gridcell">
                            <c-cell column={field.id} fieldvalue={field.value} editable={field.editable} onedit={handleEdit} title={field.type} row={r.id}></c-cell>
                        </td>
                    </template>
                    <template if:true={candelete}>
                        <lightning-button-icon icon-name="utility:delete" onclick={removeCriteria} name={r.id}></lightning-button-icon>
                    </template>
                </tr>
            </template>
        </tbody>
    </table>
</template>
