<template>
    <lightning-button variant="base" label="Base" title="Looks like a link" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
    <c-container headers={headers} onsave={handleSave} ondelete={handleDelete} candelete={allowdelete}></c-container>
</template>