<template>
    <span class="slds-grid slds-grid_align-spread">
        <template if:true={editing}>
            <input onkeyup={handleInput} style="background-color: #FFFF00" type="text" id="inputValue" placeholder={fieldvalue} aria-labelledby="fixed-text-label fixed-text-addon-pre fixed-text-addon-post" class="slds-input" />
            <lightning-button-icon icon-name="utility:save" onclick={handleSave}></lightning-button-icon>
        </template>
        <template if:false={editing}>
            <span class="slds-truncate" title={fieldvalue}>{fieldvalue}</span>
            <template if:true={editable}>
                <lightning-button-icon icon-name="utility:edit" onclick={handleEdit}></lightning-button-icon>
                <span class="slds-assistive-text">edit {type}</span>
            </template>
        </template>
    </span>
</template>